
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
build/
profiles/
native
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

#///////////////////////////
# 系統與編譯快取 (建議補充)
#///////////////////////////
.DS_Store
Thumbs.db
*.tsbuildinfo
*.log